@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #343541;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}